.App {
  text-align: center;
  background-color: #F5F5F5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  width: 100px;
  height: 100px;
  vertical-align: top;
  border: solid 2px #333333;
  background-color: white;
  margin-left: -2px;
  margin-top: -2px;
  padding: 0;
  /* display: inline-block; */
}

.cross {
  display: inline-block;
  text-align: top;
  border: 1px solid black;
  line-height: 96px;
  font-size: 70px;
  font-weight: bold;
  color: #FF6B6B;
}

.circle {
  display: inline-block;

  border: 1px solid black;
  line-height: 96px;
  font-size: 40px;
  font-weight: bold;
  color: #4ECDC4;
}

.restartButton {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;

}